################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CurtainControl/v14/.suo
/.ntvs_analysis.dat
/Documents/US-422I User Manual.pdf
/Documents/SwitchMainUpCommand.txt
/Documents/Sonesse_30_Databook_newest.pdf
/Documents/Sonesse 30 RS485 wiring.pdf
/Documents/SDN-Installation-Instructions.pdf
/Documents/mttty.zip
/Documents/MainFloorSwitchProgramFixOverDoor.set
/Documents/MainFloorSwitchProgram.set
/Documents/CurtainWiring.vsd
/Documents/CurtainWiring.pdf
/Documents/CurtainProgramming.vsd
/Documents/CurtainProgramming.pdf
/Documents/BasementSwitchProgram.set
/node_modules/.bin
/node_modules
/RemoteDebug.js
