################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CurtainControl/v14/.suo
/.ntvs_analysis.dat
