<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    top: 0;
    width: 100%;
}

    form input {
        border: 0;
        padding: 10px;
        width: 10%;
        margin-right: .5%;
    }

    form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
    }

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    #messages li {
        padding: 5px 10px;
    }

        #messages li:nth-child(odd) {
            background: #eee;
        }

body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    text-align: center;
}

a {
    color: #0078ff;
}

#info {
    color: #fff;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    z-index: 100;
}

label {
  color: #aaa;
  text-decoration: none;
}

.MainCtrl 
    {
     font-size:32pt;
     height:64pt;
     width:45%;
    }
